.valueBuilder {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 72px;
	background-color: #f0fff0;
	padding: 4px;
	width: 100%;
	padding-bottom: 10px;
	flex-direction: column;
	position: relative;
	border: 4px dashed darkblue;
	border-radius: 8px;
	margin: 4px;

	.resetButton {
		top: 2px;
		right: 2px;
		background-color: red;
		color: white;
		border: none;
		cursor: pointer;
		padding: 4px 10px;
		border-radius: 4px;
		position: absolute;
	}

	.expression{
		display: inline-block;
		height: 32px;
		font-size: 12px;
        margin-top: 24px;
        width: 100%;
        text-align: center;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f0f0f0;
        font-weight: bold;
	}
}