.customGridWrapper {
	position: relative;
	border: 2px solid darkgrey;
	border-radius: 8px;
	margin-bottom: 8px;
	width: 100%;

	.header {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}